apiVersion: v1
kind: Secret
metadata:
  name: keycloak-auth-secret
type: Opaque
stringData:
  CLIENT_ID: REPLACE_ME
  CLIENT_SECRET: REPLACE_ME
  KEYCLOAK_URL: https://keycloak.example/realms/example/protocol/openid-connect/token
